<div class="current-page">{{vm.currentRecords}}</div>
<div class="button-group">
    <button class="g-button page-btn" ng-click="vm.previousPage()"><i class="fa fa-angle-left fa-lg" aria-hidden="true"></i> </button>
    <button class="g-button page-btn" ng-click="vm.nextPage()"><i class="fa fa-angle-right fa-lg" aria-hidden="true"></i></button>
</div>
<div class="button-group">
    <button class="g-button"><i class="fa fa-cog fa-lg" aria-hidden="true"></i><i class="fa fa-sort-desc"></i> </button>
</div>