<div class="mail-outer">
    <md-tabs md-border-bottom>
        <md-tab ng-repeat="category in vm.mail_list" md-on-select="vm.setActiveCategory(category.Name)">
            <md-tab-label>
                <div class="tab-title">
                    <i class="fa {{vm.getCategoryIcon(category.Name)}} fa-lg" aria-hidden="true"></i>
                    <div class="tab-title-text">{{category.Name}}</div>
                </div>
            </md-tab-label>
            <md-tab-body>
                <md-content class="md-padding">
                    <div ng-repeat="mitem in category.items" class="m-list">
                        <g-mail-item mail="mitem"></g-mail-item>
                    </div>
                </md-content>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</div>