<div class="mail-outer">
    <md-tabs md-border-bottom>
        <md-tab>
            <md-tab-label>
                <div class="tab-title">
                    <i class="fa fa-envelope-square fa-lg" aria-hidden="true"></i>
                    <div class="tab-title-text">Primary</div>
                </div>
            </md-tab-label>
            <md-tab-body>
                <md-content class="md-padding">
                    <div class="m-list">
                        <g-mail-item></g-mail-item>
                        <g-mail-item></g-mail-item>
                        <g-mail-item></g-mail-item>
                        <g-mail-item></g-mail-item>
                        <g-mail-item></g-mail-item>
                        <g-mail-item></g-mail-item>
                    </div>
                </md-content>
            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label>
                <div class="tab-title">
                    <i class="fa fa-users fa-lg" aria-hidden="true"></i>
                    <div class="tab-title-text">Social</div>
                </div>
            </md-tab-label>
            <md-tab-body>
                <md-content class="md-padding">
                    <div class="m-list">
                        <g-mail-item></g-mail-item>
                        <g-mail-item></g-mail-item>
                        <g-mail-item></g-mail-item>
                    </div>
                </md-content>
            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label>
                <div class="tab-title">
                    <i class="fa fa-tags fa-lg" aria-hidden="true"></i>
                    <div class="tab-title-text">Promotions</div>
                </div>
            </md-tab-label>
            <md-tab-body>
                <md-content class="md-padding">
                    <div class="m-list">
                        <g-mail-item></g-mail-item>
                        <g-mail-item></g-mail-item>
                        <g-mail-item></g-mail-item>
                        <g-mail-item></g-mail-item>
                    </div>
                </md-content>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</div>