<header class="title">
    <div class="logo">
        Googl<div class="google-e-style">e</div>
    </div>
    <div class="search">
            <div class="input-group">
                <input id="search-txt" type="text" placeholder="Search">
                <button class="dropdown-arrow"><i class="fa fa-sort-desc"></i></button>
                <button class="search-btn"><i class="glyphicon glyphicon-search"></i></button>
            </div>
            <div></div>
    </div>
    <div class="utilities">
        <div>
            <button class="more-apps"><i class="fa fa-th fa-lg"></i></button>
            <button class="more-apps"><i class="fa fa-bell-o fa-lg"></i></button>
            <button class="more-apps"><i class="fa fa-user-circle fa-lg"></i></button>
        </div>
    </div>
    <div></div>
</header>