/* app css stylesheet */

.theme-dark{
  color: white;
  overflow: auto;
}

html{
  font-family: sans-serif;
}

body{
  min-width: 860px;
}

.gmail-content
{
  background: linear-gradient(rgba(40, 9, 1, 0.97), rgba(53, 9, 0, 0.93));
}


button:focus, i:focus, div:focus
{
  outline: none;
}

.google-e-style{
  transform: rotate(-25deg);
  display: inline-block;
}

/* Style for the title section */

.title{
  padding: .7em 2px .7em 2em ;
  border-bottom: 1px solid rgba(136, 103, 62, 0.87);
  display: flex;
}

.title .logo
{
  font-size: 2em;
  font-weight: 500;
  width: 170px;
}

@media (max-width: 1061px) {
  .title .search {
    flex: 4;
    display: flex;

  }
}

@media (min-width: 1062px)
{
  .title .search {
    width: 700px;
  }
}

.title .utilities
{
  flex:1;
  width: 140px;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
}

.search > .input-group
{
  flex: 4;
}

.search .dropdown-arrow:hover
{
  color:black;
}

.search > div{
  display: flex;
  position: relative;
  top: 5px;
}

.search > div > input
{
  color: black;
  border : 0;
  padding: 0;
  flex: 1;
  height: 30px;
  padding-left: 5px ;
}
.search > div > button
{
  height: 30px;
  border: 0;
}

.search .dropdown-arrow{
  width:30px;
  color: gray;
  background-color: white;
}

.dropdown-arrow i{
  position: relative;
  top: -3px;
}

.search-btn
{
  width:65px;
  color: white;
  background-color: rgba(46, 130, 209, 0.68);
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

.utilities > div
{
  position: relative;
  display: flex;
  top: -4px;
}

.utilities button
{
  background-color: transparent;
  border: 0;
  flex:1;
  padding-left: 1em;
}

.utilities button i
{
  position: relative;
  top: 5px;
}

.mail {
  min-height: 500px;
}

/* Style for toolbar section */

.toolbar
{
  display: flex;
  padding: .7em .7em .7em 1.7em ;
  border-bottom: 1px solid rgba(136, 103, 62, 0.87);
  min-height: 50px;
}

.toolbar .gmail
{
  width: 175px;
}

.toolbar .tools
{
  flex:4;
  display:flex;
}

.toolbar .paging
{
  flex:2;
}

.toolbar .gmail button
{
  background-color: transparent;
  border: 0;
  font-size: 20px;
}

.toolbar .gmail button i
{
  left: 10px;
  font-size: small;
}

.toolbar .tools div
{
  margin-right: 20px;
  display: inline-block;
}

.g-button
{
  background-color: rgba(204, 204, 204, 0.99);
  border: 1px solid gray;
  color: #494949;
  height: 30px;
  border-radius: 3px!important;
  font-size: smaller;
  font-weight: bold;
}

.g-button:hover
{
  background-color: white;
  border: 1px solid gray;
  color: #232323;
}

.button-group
{
  position: relative;

}

.button-group button
{
  position: relative;
  float:left;
  border-radius: 0px !important;
  border-left: 0px !important;
}

@media (min-width: 1120px)
{
  .button-group button
  {
    width: 75px;
  }

  .page-btn
  {
    width: 35px !important;
  }
}

@media (max-width: 1119px)
{
  .button-group button
  {
    width: 55px;
  }

  .page-btn
  {
    width: 30px !important;
  }

  .toolbar .tools div
  {
    margin-right: 10px;
  }
}

@media (max-width: 880px)
{
  .current-page
  {
    display: none;
  }

  md-tab-item
  {
    width: 200px !important;
  }
}

.button-group button:first-child
{
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;

}
.button-group button:last-child
{
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}

.g-button i.fa-sort-desc
{
  padding-left: 5px;
  position:relative;
  top:-2px;
}

/* style for paging section */

.paging > div
{
  display: flex;
  justify-content: flex-end;
  font-size: small;
}

.paging div div{
  padding-left: 10px;
}

.current-page
{
  position: relative;
  top:8px;
}

/* Styles for navigation section */

.navigation
{
  padding: .7em .7em .7em 0em;
  width: 200px;
}

.compose-mail
{
  padding-left: 2em;
  padding-bottom: 3px;
}

.new-mail
{
  width: 120px;
  height: 35px;
  background-color: white;
  color: black;
}

.g-nav-item-outer
{
  display: flex;
  padding: 2px 0 2px 0;
  cursor: pointer;
}

.g-nav-item-outer div
{
  display: inline-block;
}

.selected
{
  font-weight: bold;
}

.selection-indicator
{
  width: .25em;
  height: 25px;
}

.selection-indicator.selected
{
  background-color: white;
}

.g-nav-item-outer .item
{
  padding-left: 1.75em;
  position: relative;
  top:2px;
}

.menu-button
{
  background-color: transparent;
  border: 0;
  color: white;
}

.g-nav-item-outer:hover
{
  background-color: rgba(0, 0, 0, 0.27);
}

/*
Styles for main section
It contains the list of mails
*/

.mail-main
{
  display: flex;
}

.mail-main > div:last-child{
  flex:1;
}

.mail-outer
{
  padding: .7em .7em .7em 0em;
}

md-tab-item
{
  background-color: #c9c9c9;
  color: black!important;
  text-transform: none!important;
  width: 220px;
  border-right: 1px solid lightgray;
}

md-tab-item.md-active
{
  background-color: #e7e7e7;
}

.tab-title-text
{
  display: inline-block;
  padding-left: 10px;
}

md-tabs
{
  height: 520px !important;
}

md-content
{
  height: 500px;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #e7e7e7;
}

.list-item-outer .justify-left
{
  width: 1800px;
}

md-tab-content
{
  overflow: hidden;
}

.list-item-outer
{
  border-bottom: 1px solid #afafaf;
  padding: .5em 0 .5em 0;
  overflow: hidden;
  font-family: Calibri;
  height: 40px;
}

.list-item-outer:hover
{
  cursor: pointer!important;
}

.scroll-mails
{
  overflow-y: auto;
}

.list-item-outer div
{
  display: inline-block;
  padding: 0 0 0 10px
}

.marker
{
  border: 1px solid red;
  width:2px;
  height: .5em;
}

.list-item-outer.unread
{
  font-weight: bold;
}

.list-item-outer .item-from
{
  width: 150px;
  padding-left: 20px !important;
}

.list-item-outer .item-body
{
  font-weight: normal !important;
  color: #858585;
}

.list-item-outer .item-from
{
  font-weight: bold;
}

.list-item-outer .received-time
{
  position: relative;
  display: inline;
  float: right;
  font-weight: bold;
  top: -20px;
  padding-right:15px;
  background-color: #e7e7e7 !important;
}

.list-item-outer .item-star i:hover
{
  color: darkgoldenrod;
  font-weight: bold;
}

.list-item-outer .item-important i:hover
{
  color: darkgoldenrod;
  font-weight: bold;
}

.star-color
{
  color: darkgoldenrod;
}

.g-mail-editor-outer
{
  position: fixed;
  bottom:0px;
  right:0px;
  top: auto;
  left:auto;
  margin-right:10px;
  background-color: white;
  z-index: 10;
  border: 1px solid lightgray;
  color: black;
  display: flex;
  flex-direction: column;
}

@media (max-width: 880px) {

  .g-mail-editor-outer
  {
    min-width: 390px;
    min-height: 330px;
  }
}

@media (min-width:881px) and  (max-width: 1110px) {

  .g-mail-editor-outer
  {
    min-width: 450px;
    min-height: 390px;
  }
}

@media (min-width: 1111px) {
  .g-mail-editor-outer
  {
    min-width: 500px;
    min-height: 460px;
  }
}

.compose-header
{
  height:40px;
  background-color: #4b4b4b;
  display: flex;
  align-content: space-between;
  font-family: "Arial";
}

.compose-header > div
{
  padding: 10px 10px 10px 20px;
  color:white;
  flex: 1;
}

.compose-header .actions
{
  color: #cfcfcf;
  display: flex;
  justify-content: flex-end;
}
.compose-header .actions > div:not(:last-child)
{
  padding-right: 12px;
}

.compose-header > .actions > div
{
  height: 100%;
  padding-right: 5px;
}

.g-submenu
{
  left: -40px;
  border-radius: 3px;
  background-color: rgba(232, 232, 232, 0.99);
}

.button-group > div
{
  position: relative;


}

.toolbar-submenu
{
  position: absolute;
  left: 0px;
  top: 28px;
  border-radius: 3px;
  background-color: rgba(232, 232, 232, 0.99);
}