<!--<div class="marker"></div>-->
<div class="list-item-outer unread">
    <div class="justify-left">
        <div class="item-select"><input type="checkbox"></div>
        <div class="item-star"><i class="fa {{vm.getStarIcon()}}" aria-hidden="true" ng-click="vm.toggleStar()"></i></div>
        <div class="item-important"><i class="fa {{vm.getBookmarkIcon()}}" aria-hidden="true" ng-click="vm.toggleBookmark()"></i></div>
        <div class="item-from">{{vm.getFromName()}}</div>
        <div class="item-summary">{{vm.mailItem.subject}} -
            <span class="item-body">{{vm.mailItem.body}}</span>
        </div>
    </div>
    <div class="received-time">Dec 25</div>
</div>
